body{
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: lightcyan;
}
.note{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 50%;
    border: 10px solid rgb(0, 0, 255);
    overflow: auto;
    border-radius: 25px;
    text-align: center;
    height:60%;
}
.heading{
    font-size: 3em;
    font-family: sans-serif;
}
 .warning {
    font-size: x-large;
}
.warning{
    font-weight: bold;
}
.link-input{
    font-size: x-large;
    border-radius: 10px;
    padding-left: 10px;
}
.submit-button{
    background-color: rgb(0, 147, 0);
    font-size: x-large;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;

}
.list li{
    text-align: left;
    font-size: xx-large;
    color: blue;
    font-family:Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
}