@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    min-height: 100vh;
    position: relative;
    background-color: #efa8b8;
}

p {
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-size: clamp(2rem, 8vh, 3.5rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 /* coolors.co for mesmerizing color*/
    color: #000000;
    white-space: nowrap;
}

@media screen and (max-width:415px) {
    p{
        font-size: 2rem;
    }
}