*{
  font-weight: bold;
  font-size: 25px;
  padding: 7px;
  word-spacing: 3px;
  border: 1px solid rgba(236, 145, 7, 0.151);
  margin: 15px 30px;
  background-color: rgba(241, 234, 234, 0.842);
  
}

header{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: dodgerblue;
    background-color: rgb(7, 240, 248);
    text-decoration: underline;
}
#name,#number,#date,#email,#address,#pincode{
    width: 97%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
    background-color: rgba(231, 210, 183, 0.815);
   

}
fieldset{
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
    width: 97%;
    background-color: rgba(231, 210, 183, 0.815);

}
#gender{
    background-color: rgba(231, 210, 183, 0.815);
}
#card_type,#card_number,#expiration_date,#CVV{
    width: 97%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
    background-color: rgba(160, 207, 209, 0.856);
}
input[type="submit"]{
    font-size: larger;
    font-weight: bold;
    width: 97%;
    background-color: rgba(10, 248, 216, 0.726);
   border: none;
   padding: 5px;
   border-radius: 5px;

}
input[type="submit"]:hover{
    background-color: rgb(3, 247, 44);

}
.container{
    background-color: #f2f2f2;
    padding: 5px 20px ;
}
